[submodule "venery"]
	path = venery
	url = https://github.com/RogerLevy/venery.git
[submodule "afkit"]
	path = afkit
	url = https://github.com/RogerLevy/afkit.git
[submodule "ramen"]
	path = ramen
	url = https://github.com/RogerLevy/ramen.git
[submodule "3dpack"]
	path = 3dpack
	url = https://github.com/RogerLevy/3dpack.git
[submodule "ws"]
	path = ws
	url = https://github.com/RogerLevy/ws.git
